.App {    
  text-align: center;
  color: black;
  margin: 4rem auto; 
  min-width: 918px;
  max-width: 918px;

  .table {
    .table-headers {
      display: flex;
      justify-content: center;
      div {
        margin: 1rem 1rem 0rem 1rem; 
      }
    }
  }
}
