$border-color: #ccc;
.App {    
  text-align: center;
  color: black;
  margin: 3rem auto; 
  min-width: 918px;
  max-width: 918px;

  .table {
    display: flex;
    .table-headers {
      display: block;
      text-align: center;
      justify-content: center;
      margin-top: 1rem;
    }
    .timeline {
      width:25%;
      height: 500px;
      overflow-y: scroll;
    }
    .event-detailed {
      margin-left: 1rem;
      margin-top: 1rem;
      width: 75%;
      height: auto;
      border: solid 1px $border-color;
      box-shadow: 0 2px 2px $border-color;
      border-radius: 3px;
    }
  }
}
