$border-color: #ccc;
.event-container {
  display: block;
  border: solid 1px $border-color;
  box-shadow: 0 2px 2px $border-color;
  border-radius: 3px;
  padding: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;

  .card-container {
    display: block;
  }
  
  .span-normal {
    font-weight: 400;
  }
  .span-bold {
    font-weight: 600;
  }
  &:last-of-type {
    border-bottom: 1px solid $border-color;
  }
}
