.card {
  margin-top: 50px;
  color: black;
  .image-container {
    position: relative;
    width: 70%;
    max-width: max-content;
    height: auto;
    font-size: 0;
    margin: 0 auto;
    
    .card-image {
      max-width: 100%;
      height: auto;
    }

    .scores-header-container {
      .scores-header {
        position: absolute;
        margin: 0;
        color: black;
        background: yellow;
        padding: 0.2rem;
        width: auto;
        top: -2rem;
        right: -1.5rem;
        font-size: 1rem;
        line-height: 16px;
        font-weight: 500;
        z-index: 101;
        position: absolute;
        @media all and (max-width: 720px){
            font-size: 0.8rem !important;
            padding: 0.1rem;
        }
        @media all and (max-width: 640px){
              font-size: 0.7rem !important;
        }
        @media all and (max-width: 320px){
            font-size: 0.6rem !important;
        }
      }
    }
    .box-overlay {
      position: absolute;
      width: max-content;
      z-index: 100;
      box-sizing: border-box; 
      p {
        font-size: 1.7rem;
        color: red;
        font-weight: 500;
        transform: rotate(-45deg);
      }
    }
    .scores-container {
      position: absolute;
      width: max-content;
      padding: 0.2rem;
      width: auto;
      right: -1.5rem;
      font-size: 0.7rem;
      line-height: 1rem;
      font-weight: 500;
      z-index: 101;
      .score-overlay {
        position: relative;
        display: flex;
        justify-content: space-between;
        p.label {
          margin: 0px;
          font-size: inherit;
        }
      }
      @media all and (max-width: 720px){
          font-size: 0.6rem !important;
          padding: 0.1rem;
      }

      @media all and (max-width: 640px){
            font-size: 0.5rem !important;
      }

      @media all and (max-width: 320px){
          font-size: 0.4rem !important;
      }
    }  

  }
}

