$background-color: #ccc;
.search-container {
  padding: 10px 10px;
  background-color: $background-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  label {
    margin: 0 1rem 0 1rem;
    font-size: 0.8rem;
    input {
      width: 100%;
      padding: 1rem 1rem;
      margin: 0.5rem 0;
      display: inline-block;
      border: 1px solid $background-color;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}
